{% extends "padre.html" %}

{% block title %} <h1> Sobre Mi </h1>



{% endblock %}




{% block content %}

<div style="max-width: 600px; margin: 40px auto; padding: 30px; border: 1px solid #ccc; border-radius: 12px; background-color: #fdfdfd; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">



<p>Mi nombre es Ayelen, este es mi primer acercamiento al mundo de la programacion, ya que soy estudante de relaciones internacionales, 
    pero la busqueda de nuevos desafios me llevo a esta nueva experiencia que me abrio las puertas a un nuevo mundo. 
    Muchas gracias 
</p>

{% endblock%}


{}




