{% extends 'padre.html'%}

{% block title %}<h2>Avatar</h2>

<p> Actualizar Avatar <p>

{% endblock %}

{% block content %}

<h2>Actualizar Avatar</h2>
<div style="max-width: 600px; margin: 40px auto; padding: 30px; border: 1px solid #ccc; border-radius: 12px; background-color: #fdfdfd; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type= "submit" style="text-decoration: none; color: white; background-color: #33293dff; padding: 5px 10px; border-radius: 5px;">Enviar</button>

</form>
</div>

{% endblock %}
